:root {
  --gray: rgb(190, 186, 186);
  --default: gainsboro;
}

body {
  background-color: var(--default);
  text-align: center;
}

.border {
  border: 1px solid black;
}

.secondary-header {
  display: flex;
  justify-content: center;
  background-color: var(--gray);
}

h4 {
  width: 70%;
  height: 30px;
}

.cards-container {
  background-color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  border: 3px solid rgb(116, 212, 241);
  height: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  flex-grow: 1;
  flex-basis: 30%;
}

.card-title {
  width: 30%;
  position: absolute;
  margin-top: 5px;
  z-index: 1;
  background-color: var(--default);
}

.card-subheader {
  width: 70%;
  position: absolute;
  margin-top: 20px;
  background-color: var(--gray);
  flex-wrap: wrap;
  justify-content: center;
}

.card-snippet {
  background-color: rgb(111, 109, 109);
  margin: 8%;
  width: 84%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--default);
}
